{% load static %}

<html lang="pl">
  <head>
<script src="https://kit.fontawesome.com/9319ce92b6.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escobar Olsztynek</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>



 {% block body %} {% endblock %}
<div id="footer">
<div class="p-2">
    <h4 class="text-center">© 2020 Copyright: Escobar</h4>
</div>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
